<h2>Planetas</h2>

<div>
  <table border="1" style="width: 100%;">
    <thead>
      <tr>
        <th>Name</th>
        <th>rotation period</th>
        <th>orbital period</th>
        <th>diameter</th>
        <th>climate</th>
        <th>gravity</th>
        <th>terrain</th>
        <th>surface water</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planet of planets">
          <td>{{ planet.name }} </td>
          <td>{{ planet.rotation_period }}</td>
          <td>{{ planet.orbital_period }}</td>
          <td>{{ planet.diameter }}</td>
          <td>{{ planet.climate }}</td>
          <td>{{ planet.gravity }}</td>
          <td>{{ planet.terrain }}</td>
          <td>{{ planet.surface_water }}</td>
      </tr>
    </tbody>
  </table>
</div>

