<h2>Vehiculos</h2>

<div>
  <table border="1" style="width: 100%;">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>episode id</th>
        <th>director</th>
        <th>producer</th>
        <th>release date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let vehiculo of vehiculos">
        <td>{{ vehiculo.title }}</td>
        <td>{{ vehiculo.episode_id }}</td>
        <td>{{ vehiculo.director }}</td>
        <td>{{ vehiculo.producer }}</td>
        <td>{{ vehiculo.release_date }}</td>
      </tr>
    </tbody>
  </table>
</div>

